.nomePrincipal {
  font-family: 'Space Mono', monospace;
  color: violet;
  justify-content: center;
  display: flex;

  font-size: 30px;
  animation: flutuar 5s ease-in-out infinite;
  /* Altere a duração conforme necessário */
}

@keyframes flutuar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
    /* Altere o valor conforme necessário */
  }

  100% {
    transform: translateY(0px);
  }
}

body {
  background-color: black;


}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.pai {
  width: 400px;
  height: 400px;
  background-color: blue;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.filho {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 20px;



}

.senha {
  color: white;
  font-family: 'Space Mono', monospace;

}

.login {
  color: white;
  font-family: 'Space Mono', monospace;

}

.entrarsenha {
  font-family: 'Space Mono', monospace;
  border-radius: 5px;
  text-align: center;

}



.entraremail {
  font-family: 'Space Mono', monospace;
  border-radius: 5px;
  text-align: center;
}


.inputs {
  text-align: center;
  margin-top: 15px;
}

.regis {
  font-family: 'Space Mono', monospace;
  margin-top: 5px;
  color: black;
  background: white;
  height: 40px;
  width: 120px;
  border-radius: 10px;


}

.regis:hover {
  background-color: rgb(17, 0, 255);
  /* Cor de fundo padrão */
  color: grey;
  border: none;
  cursor: pointer;
  transition: background-color 0.9s ease;
  /* Adicionando uma transição suave */
}

.logar {
  font-family: 'Space Mono', monospace;
  color: black;
  background: white;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  margin-top: 20px;
  
}

.logar:hover {
  background-color: rgb(17, 0, 255);
  /* Cor de fundo padrão */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.9s ease;
  /* Adicionando uma transição suave */

}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.formulario {
  border: 0%;
  padding: 0%;
  
}

.confirmarsenha {
  font-family: 'Space Mono', monospace;
  border-radius: 5px;
  text-align: center;
}