@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: #000;
    box-sizing: border-box;

}



.jupiter {
    background-image: url(./background.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;
    height: 100vh;

}

h1 {
    margin-bottom: 45px;
    font-family: 'Space Mono', monospace;
    font-size: 44px;
    text-transform: uppercase;
    color: #fff;
    animation: flutuar 5s ease-in-out infinite;
  }
  

  @keyframes flutuar {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-5px);

    }
  
    100% {
      transform: translateY(0px);
    }
  }



.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 70vh;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;



}

.item:hover {
    flex: 7;
}

.item-1 {
    
    border-radius: 5px 0px 0px 5px;

}



.item-5 {
    
    border-radius: 0px 5px 5px 0px;
}

