body {
    padding: 0%;
    margin: 0%;
    border: 0%;
    background-image: url('./background1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;


}

.pai {
    display: flex;
    justify-content: center;
    

}




ul a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    justify-content: space-around;
    transition: color 0.3s, background-color 0.3s; 
    
}

ul a:hover {
    color: DarkSlateBlue;
}





.textoprincipal {
    color: #FFF;
    font-family: 'Karantina';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0%;
    margin-top: 5px;
    z-index: 1;
    transition: color 0.3s ease;
}

.pagrafobaixo {
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin: 0%;
}

.botaobranco {
    display: flex;
    width: 187px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    transition: color 0.3s, background-color 0.3s; 
    margin-top: 25px;
}

.botaobranco:hover {
background: DarkSlateBlue;
}

.botaoexplore {

    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s; /* Transição suave de cores */
}

.botaoexplore:hover {
    /* Estilos ao passar o mouse (hover) */
    color: white; /* Cor do texto vermelha */
  }

  .container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

}


.lua {
    animation: flutuar 5s ease-in-out infinite;
    /* Altere a duração conforme necessário */
  }
  

  @keyframes flutuar {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-20px);
      /* Altere o valor conforme necessário */
    }
  
    100% {
      transform: translateY(0px);
    }
  }